{% extends 'main.html' %}

{% block content %}

<div class="centrecss">
<div class="container">
    <h3>We've emailed you the instructions for setting a new password, If an account exists with the email you entered. You should receive them shortly.</h3>
    <br>
    <h3>If you don't receive an email, please make sure you've entered the address you registered with, or check your span folder.</h3>
    <br>
    <p><a href="{% url 'login' %}">Go back to login page.</a></p>
</div>
</div>
{% endblock %}
