{% load static %}
<section class="ftco-section">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <a class="navbar-brand" href="#">Study Kit <span>An E-Resource Portal</span></a>
                    </div>
                    <div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                        <form enctype="multipart/form-data" action="{% url 'searching' %}" method="POST" class="searchform order-lg-last">
                            {% csrf_token %}
                            <div class="form-group d-flex">
                                <input name="searchtext" type="text" class="form-control pl-3" placeholder="Search">
                                <button type="submit" placeholder="" class="form-control search"><span
                                        class="fa fa-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="social-media">
                    {% if request.user.is_authenticated %}
                    <h4 class="headname" style="margin-top: 10px;">Welcome {{request.user.first_name}} {{ request.user.last_name }}</h4>
                    {% else %}
                    <h5 class="headname" style="margin-top: 10px;">Welcome to Resource Portal</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'upload_material' %}" class="nav-link">Upload</a></li>
                    <li class="nav-item"><a href="{% url 'youruploads' %}" class="nav-link">Your uploads</a></li>
                    <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link">Profile</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">Issues</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{% url 'issue' %}">Raise an issue</a>
                            <a class="dropdown-item" href="{% url 'issuestatus' %}">Issue status</a>
                            <a class="dropdown-item" href="{% url 'reportedcontent' %}">Your Reported content</a>
                            <a class="dropdown-item" href="{% url 'notifications' %}">Notifications</a>
                        </div>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link"><span class="glyphicon glyphicon-user login-span"></span>Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link"><span class="glyphicon glyphicon-user login-span"></span>Login</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link"><span
                                class="glyphicon glyphicon-user login-span"></span>Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

</section>
